.my-card {
  /* margin-top: 30px;
  
  /* margin: 5rem 45rem; */
  /* min-width: 40%;
  max-width: 70%;
  align-items: center; */
  margin-top: 5%;
}

.title {
  width: fit-content;
  height: fit-content;
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 5px;
}
.cardContainer {
  margin: auto;
  max-width: 50%;
  text-align: auto;

  align-items: center;
}
.card {
  display: flex;
  min-width: 20%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
